---
http_interactions:
- request:
    method: post
    uri: https://api.inthegra.strans.teresina.pi.gov.br/v1/signin
    body:
      encoding: UTF-8
      string: '{"email":"email@test.com","password":"teste123"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - pt
    body:
      encoding: UTF-8
      string: '{"token":"wwwwwwww-wwww-wwww-wwww-wwwwwwwwwwww","minutes":10}'
  recorded_at: Sat, 11 Jun 2016 19:05:44 GMT
recorded_with: VCR 3.0.3
