---
http_interactions:
- request:
    method: get
    uri: https://api.inthegra.strans.teresina.pi.gov.br/v1/linhas?busca=ininga
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
      X-Auth-Token:
      - wwwwwwww-wwww-wwww-wwww-wwwwwwwwwwww
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Page:
      - '0'
      X-Page-From:
      - '1'
      X-Page-Size:
      - '0'
      Content-Type:
      - application/json; charset=utf-8
      X-Page-Total:
      - '3'
      Content-Language:
      - pt
    body:
      encoding: UTF-8
      string: '[{"CodigoLinha":"0402","Denomicao":"VILA BANDEIRANTE-PLANALTO ININGA
        FREI SERAFIM","Origem":"VILA BANDEIRANTE","Retorno":"PCA. BANDEIRA","Circular":true},{"CodigoLinha":"0406","Denomicao":"VALE
        DO GAVIAO-SATELITE/ININGA","Origem":"PLAN. URUGUAI","Retorno":"AV MARANHAO","Circular":true},{"CodigoLinha":"0246","Denomicao":"VALE
        DO GAVIAO / PLANALTO ININGA","Origem":"VILA BANDEIRANTE","Retorno":"SHOPPING","Circular":true}]'
  recorded_at: Sat, 11 Jun 2016 19:05:46 GMT
recorded_with: VCR 3.0.3
