---
http_interactions:
- request:
    method: get
    uri: https://api.inthegra.strans.teresina.pi.gov.br/v1/veiculosLinha?busca=0401
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
      X-Auth-Token:
      - wwwwwwww-wwww-wwww-wwww-wwwwwwwwwwww
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - pt
    body:
      encoding: UTF-8
      string: '{"Linha":{"CodigoLinha":"0401","Denomicao":"UNIVERSIDADE","Origem":"COL.
        AGRICOLA","Retorno":"PCA. BANDEIRA","Circular":true,"Veiculos":[{"CodigoVeiculo":"02208","Lat":"-5.06554700","Long":"-42.79358000","Hora":"16:05"}]}}'
  recorded_at: Sat, 11 Jun 2016 19:06:11 GMT
recorded_with: VCR 3.0.3
